.container{
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
  padding: 16px;

  .characters-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
}

@media(max-width: 1000px){
  .characters-list{
    grid-template-columns: 1fr 1fr;
  }
}


@media(max-width: 680px){
  .characters-list{
    grid-template-columns: 1fr;
  }
}
