.container {
    background: #dddeeb;
    color: black;
}

.container_dark_mode {
    background: #484b78 !important;
    color: white !important;
}

.title {
    display: flex;
    justify-content: center;
}

.dialog_content {
    display: flex;
    flex-direction: column;
    padding: 24px 12px;
}