.icon {
    color: #484b78
}

.icon_dark_mode {
    color: #dddeeb
}

.container {
    background: #dddeeb;
    color: black;
}

.container_dark_moder {
    background: #484b78;
    color: white;
}

.dialog_title {
    display: flex;
    justify-content: center
}

.info_text {
    display: flex;
}