.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #121212;
}
.navbar h2 a{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.navbar form{
  display: flex;
  gap: .5rem;
}
.navbar input{
  padding: .2rem .8rem;
  border-radius: 4px;
  border: none;
}
.navbar form button{
  background: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 4px;
  color: #000;
  padding: .3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.navbar form button:hover{
  background: transparent;
  color: #f7d354;
}