.card_container {
    padding: 16px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 16px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) and (max-width: 1536px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.search_container {
    display: flex;
    justify-content: center;
    padding: 16px 8px;

    @media (max-width: 768px) {
        display: block;
    }
}