.page_info {
    grid-template-areas:
        "filters char char char char";
    display: grid;
}

.container {
    grid-template-areas: "topbar"
        "characters";
    display: grid;
    grid-template-rows: 10% 90%;
}