.header__container{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #55a630;
    padding: 10px 40px;
    opacity: 90%;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.511);
    margin-bottom: 4%;
}


@media screen and (max-width: 479px){
    .header__container{
        padding: 8px 20px;
        margin-bottom: 9%;
    }
    .header__container h1{
        font-size: 20px;
    }
}