.container-character{
  width: 100%;
  max-width: 780px;

  margin: 0 auto;
  padding: 16px;

  a{
    text-decoration: none;
  }

  h1{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;

    margin-bottom: 24px;
  }

  .back{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    svg{
      transform: rotate(-90deg);
    }

    span{
      font-weight: 500;
    }
  }

  .details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    padding: 16px;
    background: #f1f1f1;
    border-radius: 4px;

    font-weight: 500;
    font-size: 1rem;

    img{
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

    .infos{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 16px;

      height: 100%;

      h3{
        text-align: center;
      }

      .status{
        display: flex;
        align-items: center;
        gap: 4px;

        &-symbol{
          display: block;
          height: 10px;
          width: 10px;
          border-radius: 50%;

          &.alive{
            background: green;
          }

          &.dead{
            background: red;
          }

          &.unknown{
            background: gray;
          }
        }
      }

    }

  }
}
