.charlist-container {
    @apply flex flex-wrap justify-center items-center;
}

.character-card {
    background: rgb(60, 62, 68);
    @apply flex text-white overflow-hidden w-96 rounded-lg m-6 ;
    width: 36rem;
}

.character-card__image {
    flex: 2 1 0%;
    width: 100%;
}

.character-card__info {
    flex: 3 1 0%;
    @apply p-3 flex flex-col;
}

.character-card__info h2 {
    @apply text-2xl;
}

.character-card__image img {
    width: 100%;
    height: 100%;
}

.character-card__status {
    @apply flex items-center capitalize;
}

.character-card__status-icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
}

.character-card__location {
    @apply flex flex-col justify-center;
    flex: 1 1 0%;
}

.character-card__location span {
    color: rgb(158, 158, 158);
}

.character-card__button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    @apply bg-zinc-600 text-center hover:border-gray-400;
}

