.filtro__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 21vw;
    max-width: 21vw;
    color: #fff;
    background-color: #45007a;
    padding: 2% 0;
    border-radius: 4%;
    margin-right: 15vh;
} 

.filtro{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 8% 0;
    width: 85%;
}

.filtro__nome,
.filtro__genero,
.filtro__especie,
.filtro__status{
    background-color: #7d02a2;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtro__nome input{
    width: 60%;
    background: transparent;
    border: none;
    color: #fff;
    outline: 0;
}
.filtro__nome input::placeholder{
    color: #fff;
}

.filtro label{
    background-color: #9502c2;
    padding: 3% 3%;
    width: 35%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.511);
}

.filtro select{
    border: none;
    height: 4vh;
    background: transparent;
    margin-right: 4%;
    color: #fff;
    outline: 0;
}

.filtro select option{
    color: #fff;
    background-color: #7d02a2;
}

.filtro__container p{
    font-size: 25px;
    font-weight: 700;
}

.filtro__container button{
    color: #fff;
    border: none;
    background-color: #7d02a2;
    padding: 2px 15px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.511);
    transition: 0.2s ease-in-out;
}
.filtro__container button:first-child{
    margin-right: 10px;
}

.filtro__container button:hover{
    background-color: #9502c2;
}